<div class="dermalogica container text-center"> 
  <div class="hero-logo-wrapper">
        <div style="background-image: url(/assets/images/img_dermalogica-logo_1024x1024.png);" alt="DERMALOGICA" class="collection__hero-logo bg fill"></div>
  </div>
    
<div class="row col-md-12"> 
  <div class="col-md-4">  
      <img src="/assets/images/Dermalogica_900.jpg" alt="">
  </div>


<div class="text-center col-md-8"> 
    <p> Dermalogica is the #1 CHOICE of skin care professionals and consumers worldwide.<br>
    <br>
    For over 25 years, we've been dedicated to delivering skin health results through 
    <br>
    education, innovation, and professional recommendation, not through sparkly 
    <br>
    packaging, promises of miracle cures, or overblown hype.
    </p>
</div>
</div>

</div>
