<div class="makeup container">  

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading  text-center">Hair & Makeup</div>
        <div class="panel-body">
         
        </div>
      
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Service</th>
              <th scope="col">Price($)</th>
             
             
            </tr>
          </thead>
          <tbody>
            <tr>
            
              <td>Day Time Makeup</td>
              <td>35</td>
            
             
            </tr>
            <tr>
             
              <td>Night Time Makeup</td>
              <td>45</td>
              
            </tr>
            <tr>
              
              <td>Bridal Makeup & Hair Style</td>
              <td>250 & Up</td>
            
            </tr>
            <tr>
            
              <td>Hair Style & Updo</td>
              <td>35 & Up</td>
              
            </tr>
            <tr>
            
              <td>Fake Lashes</td>
              <td>10</td>
             
            </tr>
            <tr>
            
              <td>Saree Tie</td>
              <td>10</td>
             
            </tr>
            <tr>
           
              <td>Mehndi</td>
              <td>5 & Up</td>
             
            </tr>
            <tr>
            
              <td>Eye Brow Tint</td>
              <td>10 & Up</td>
             
            </tr>
            <tr>
            
              <td>Lash Tint</td>
              <td>10 & Up</td>
             
            </tr>
            <tr>
            
              <td>Full Face</td>
              <td>60</td>
             
            </tr>
            <tr>
            
              <td>Lash Extension</td>
              <td>80 & Up</td>
            
            </tr>
            <tr>
            
              <td>Refill</td>
              <td>20 & Up</td>
           
            </tr>
           
          </tbody>
        </table>
        
    
      </div>
    
      <div class="row text-center">
        <h1> Package Deals   </h1> 
        <div class="ladies col-md-6 text-center">   
          <div class="panel panel-primary">
            <div class="panel-heading">Ladies</div>
            <div class="panel-body">
              <p>4 Full Body Treatment Package: $1000<br>Includes Legs, Arms, Under Arms, Brazillain, Face<br>(Save $100 per Treatment)</p>
            </div>
    
        </div>
        </div>
    
        <div class="ladies col-md-6 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">Men</div>
                <div class="panel-body">
                    <p>4 Full Body Treatment Package: $2200<br>(Save $150 per Treatment)<br><br></p>
                </div>
    
            </div>
    
          </div>
    
      </div>

</div>
