
<div class="hand container">  
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading  text-center">Hands & Feet</div>
        <div class="panel-body">
         
        </div>
      
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Service</th>
              <th scope="col">Price($)</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>Classic Manicure with Nail Art</td>
              <td>20</td>
              
            </tr>
            <tr>
            
              <td>Ultimate Manicure wth Nail Art</td>
              <td>25</td>
             
            </tr>
            <tr>
             
              <td>Classic Pedicure with Nail Art</td>
              <td>30</td>
             
            </tr>
            <tr>
             
              <td>Ultimate Pedicure with Nail Art</td>
              <td>35</td>
             
            </tr>
            <tr>
             
              <td>Nail Art with Nail Polish</td>
              <td>15 & Up</td>
             
            </tr>
            <tr>
            
              <td>Shellac Manicure (Nails, Cut, File, Cuticle Care & Buff</td>
              <td>15</td>
             
            </tr>
            <tr>
             
              <td>Shellac Remover</td>
              <td>15</td>
            
            </tr>
            <tr>
             
              <td>French Tip Polish</td>
              <td>15</td>
              
            </tr>
            <tr>
            
              <td>Add Gel Polish with any Manicure/Pedicure</td>
              <td>15</td>
             
            </tr>
           
          
          </tbody>
        </table>
        
    
      </div>
    
      <!-- <div class="row text-center">
        <h1> Package Deals   </h1> 
        <div class="ladies col-md-6 text-center">   
          <div class="panel panel-primary">
            <div class="panel-heading">Ladies</div>
            <div class="panel-body">
              <p>4 Full Body Treatment Package: $1000<br>Includes Legs, Arms, Under Arms, Brazillain, Face<br>(Save $100 per Treatment)</p>
            </div>
    
        </div>
        </div>
    
        <div class="ladies col-md-6 text-center">
            <div class="panel panel-primary">
                <div class="panel-heading">Men</div>
                <div class="panel-body">
                    <p>4 Full Body Treatment Package: $2200<br>(Save $150 per Treatment)<br><br></p>
                </div>
    
            </div>
    
          </div>
    
      </div> -->
</div>