.home{
  
  margin: 196px 0 0 10px;
}

#carousel {
  font-family: 'Courgette', cursive;
}
p {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  
}

p strong {
  color: red;
}

#carousel img {
  min-height: 150px;
  height: auto;
  width: 100%;
}

.img1 .carousel-caption {
  top: 0;
  bottom: auto;
  left: 500px;
  right:0;
}

.img1 h1 {
  font-size: 60px;
  color: black;
  font-family: 'Courgette', cursive;
  top: 5%;
  margin: 100px 0 50px 0;
}
.img1 h1 span {
  color: red;
}

.img1 h2 {
  font-size: 20px;
  color: black;
  margin: 0 100px 0 100px;
}


.img3 .carousel-caption {
  top: 0;
  bottom: auto;
  left: 400px;
  right: 0;
}

.img3 h1 {
  font-size: 40px;
  color: black;
  top: 5%;
  margin: 100px 0 50px 0;
  font-family: 'Courgette', cursive;
}

  .img3 h1 span {
    /*color: darkgoldenrod; */
    color: red;
  }

.img3 h2 {
  font-size: 20px;
  color: black;
  margin: 0 100px 0 100px;
}


.img4 .carousel-caption {
  top: 0;
  bottom: auto;
  left: 500px;
  right: 0;
}

.img4 h1 {
  font-size: 40px;
  color: black;
  top: 5%;
  margin: 100px 0 50px 0;
  font-family: 'Courgette', cursive;
}

  .img4 h1 span {
    color: red;
  }

.img4 h2 {
  font-size: 20px;
  color: black;
  margin: 0 100px 0 100px;
}



.about {
  margin: 20px 0 20px 0;
  padding-top: 110px;
  padding-bottom: 0;
  display: block;
  position: relative;
}


.section-heading h2 {
  font-family: 'Ruthie', cursive;
  color: red;
  font-size: 46px;
}

.about_first h2 {
  font-family: 'Courgette', cursive;
}

.section-heading i {
  margin-bottom: 20px;
}

.studio-img{
  margin: 20px 0;
}

.studio-img img {
  width: 100%;
}

.fixed-attachment {
  background-attachment: fixed;
  z-index: -1;
  position: static;
}

.about_first{
  margin: 10px 0 100px 0;
}

