.waxing {
  margin: 200px 0;
  /* background-color: lightcyan; */
  padding-top: 20px;
}

h1 {
  color: orangered;
  font-family: 'Courgette', cursive;
}

h2 {
  color: black;
  
}

h2 span {
  color: red;
}

h3 {
  color: dimgrey;
  font-size: 1.3em;
  font-family: "Raleway", Arial, sans-serif;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: black !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: red;
}

.table>tbody>tr>td{
  color: white;
}

div span {
  font-size: 15px;
  color: red;
  font-weight: bold;
}

