
<div class=" waxing container">
  <!-- <h1>
    Maximum smoothness with Minimum ouch.
    
  </h1> -->

  <div class="col-sm-6">
    <h2>
      Be Smooth. <br /><span>Feel Fabulous</span>
    </h2>
    <h3>Our only priority is to deliver amazing service and a luxurious waxing experience for men and women. Whether it’s as simple as a brow wax, or as involved as a Brazilian wax, we will get you smooth quickly and with less ouch. </h3>
  </div>

  <div class="col-sm-6">
    <img class="img-responsive" src="assets/images/waxing.jpg"/>
  </div>
    


  <div class="col-sm-4">
    <table class="table table-striped table-responsive ">
      <thead>
        <tr>
         
          <th  class="col-md-2">Service</th>
          <th  class="col-md-2">Price</th>
          <!-- <th>Meena's</th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eye Brow</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Upper Lip</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Cheeks</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Chin</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Fore Head</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Side Burns</td>
          <td>4</td>
        </tr>
        <tr>
            <td>Nose</td>
            <td>2</td>
          </tr>
          <tr>
            <td>Ears</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Full Face</td>
            <td>21</td>
          </tr>
          <tr>
            <td>Neck</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Back Neck</td>
            <td>7</td>
          </tr>
          <tr>
            <td>Shoulders</td>
            <td>10</td>
          </tr>
          <tr>
              <td>Under Arms</td>
              <td>7</td>
            </tr>
            <tr>
              <td>Full Arms</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Half Arms</td>
              <td>14</td>
            </tr>
            <tr>
              <td>Full Legs</td>
              <td>30</td>
            </tr>
            <tr>
              <td>Half Legs</td>
              <td>20</td>
            </tr>
            <tr>
              <td>Bikini Line</td>
              <td>35</td>
            </tr>
            <tr>
                <td>Bikini</td>
                <td>35</td>
              </tr>
              <tr>
                <td>Brazilian</td>
                <td>45</td>
              </tr>
              <tr>
                <td>Back</td>
                <td>25</td>
              </tr>
              <tr>
                <td>Chest</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Stomach</td>
                <td>15</td>
              </tr>
              <tr>
                <td>Full Body Wax</td>
                <td>130</td>
              </tr>

      </tbody>
     
    </table>
    <span>**We use special wax for sensitive skin</span>
  </div>
  

  </div>
