<div class="container laser"> 

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading  text-center">Laser Services</div>
    <div class="panel-body">
     
    </div>
  
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
        
          <th scope="col">Service</th>
          <th scope="col">Ladies($)</th>
          <th scope="col">Men($)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>Full Face</td>
          <td>60</td>
          <td>35</td>
        </tr>
        <tr>
         
          <td>Upper Lip</td>
          <td>20</td>
          <td>N/A</td>
        </tr>
        <tr>
          
          <td>Chin</td>
          <td>20</td>
          <td>N/A</td>
        </tr>
        <tr>
       
          <td>Side Burns</td>
          <td>25</td>
          <td>N/A</td>
        </tr>
        <tr>
          
          <td>Cheeks</td>
          <td>20</td>
          <td>N/A</td>
        </tr>
        <tr>
         
          <td>Under Arms</td>
          <td>35</td>
          <td>35</td>
        </tr>
        <tr>
        
          <td>Full Face</td>
          <td>60</td>
          <td>30</td>
        </tr>
        <tr>
          
          <td>Full Arms</td>
          <td>80</td>
          <td>100</td>
        </tr>
        <tr>
       
          <td>Half Arms</td>
          <td>60</td>
          <td>65</td>
        </tr>
        <tr>
       
          <td>Full Legs</td>
          <td>100</td>
          <td>150</td>
        </tr>
        <tr>
        
          <td>Upper Lip</td>
          <td>20</td>
          <td>N/A</td>
        </tr>
        <tr>
      
          <td>Half Legs</td>
          <td>65</td>
          <td>N/A</td>
        </tr>
        <tr>
       
          <td>Brazillain</td>
          <td>75</td>
          <td>N/A</td>
        </tr>
        <tr>
    
          <td>Bikini</td>
          <td>55</td>
          <td>N/A</td>
        </tr>
        <tr>
 
          <td>Chest</td>
          <td>50</td>
          <td>75</td>
        </tr>
        <tr>
        
          <td>Full Stomach</td>
          <td>50</td>
          <td>65</td>
        </tr>
        <tr>
    
          <td>Half Stomach</td>
          <td>30</td>
          <td>N/A</td>
        </tr>
        <tr>
        
          <td>Back</td>
          <td>100</td>
          <td>125</td>
        </tr>
        <tr>
    
            <td>Neck & Shoulders</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
        
            <td>Full Body</td>
            <td>350</td>
            <td>550</td>
          </tr>
      </tbody>
    </table>
    

  </div>

  <div class="package row text-center">
    <h1> Package Deals   </h1> 
    <div class="ladies col-md-6 text-center">   
      <div class="panel panel-default">
        <div class="deal-heading panel-heading">Ladies</div>
        <div class="deal-body panel-body">
          <p>4 Full Body Treatment Package: $1000<br>Includes Legs, Arms, Under Arms, Brazillain, Face<br>(Save $100 per Treatment)</p>
        </div>

    </div>
    </div>

    <div class="ladies col-md-6 text-center">
        <div class="panel panel-default">
            <div class="deal-heading panel-heading">Men</div>
            <div class="deal-body panel-body">
                <p>4 Full Body Treatment Package: $2200<br>(Save $150 per Treatment)<br><br><br></p>
            </div>

        </div>

      </div>

  </div>
</div>