<div class="facial container">  

  <div class="panel panel-default ">
    <!-- Default panel contents -->
    <div class="panel-heading  text-center">Dermalogica Facial</div>
    <div class="panel-body  text-center">
      <p></p>
    </div>
  
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
         
          <th scope="col"  class="col-md-2">Treatment Name</th>
          <th scope="col" class="col-md-2">Treatment Time</th>
          <th scope="col" class="col-md-2">Price</th>
          <th scope="col">Description</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Clasic Facial</td>
          <td>60 Mins</td>
          <td>60</td>
          <td>Say goodbye to cookie-cutter treatments! The Dermalogica Skin Treetment is 100% customized to your skin's needs with a thorough, zone-by-zone Face Mapping skin analysis. Its your personal treatment created specially for your skin, right on the spot.</td>
        </tr>
        <tr>
            <td>Age Smart Facial - Multi Vitamin</td>
            <td>60 Mins</td>
            <td>80</td>
            <td>Are the signs of aging becoming more prevalent on your skin? Give it a re vitalizing powerboost with this treatment designed to help firm, sooth, nurish, regenrate and energize! Specillay created to help controlled the biochecmical triggers that lead to skin aging while treating the sign of photoaging and sundamage.</td>
          </tr>
        <tr>
            <td>Ultra Calming</td>
            <td>60 Mins</td>
            <td>65</td>
            <td>Red, itching, burning skin - don't conceal it. Control it! With a super soothing UltraCalming treatment that brings relief to the most aggravated, irritated, inmlamed sensitive skin. Calm, soothe and replenish by targeting the triggers behind redness, itching and stinging while helping to recover skin health for long - term relief from fiare - ups.</td>
        </tr>
        <tr>
            <td>Skin Brightning Facial<br>(PowerBright Treatment)</td>
            <td>60 Mins</td>
            <td>75</td>
            <td>The highly potent specialized skin tratment accelerates skin brighting, improves texture and balances skin tone while regulating overactive pigment cells. our unique combination of advanced exfoliation, penetration technology and actve peptide ingredients work to treat and control hyperpigmentation at its core. The result? clearer, smoother, brighter, more evenly toned luminous skin. </td>
        </tr>
        <tr>
            <td>Acne clearing facial</td>
            <td>60 Mins</td>
            <td>70</td>
            <td>Jump-start acne clearing with this purifying, deep cleansing treatment that is the perfect maintenance for consistently clear skin. Our professional sytems detoxify while calming irritation and readness. Complete with a customize education session to promote breakout clearing well beyond the treatment.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>