.facial {
    margin: 280px 0 0 10px;
   
    
}

.panel-heading {
    color: white;
    font-family: 'Sumana', serif;
    text-transform: uppercase;
    font-size: 36px;
    background-color: #be2929;
  }
  
  .panel-body {
    color: black;
    font-family: 'Courgette', cursive;
  }