<!--business-talking-start-->
<section id="contact" class="business-talking">
  <div class="container">
    <h2>Contact Us</h2>
  </div>
</section>
<!--business-talking-end-->
<div class="container">
  <section class="main-section contact" id="contact">

    <div class="row">
      <div class="col-lg-6 col-sm-7 wow fadeInLeft">


        <div class="contact-info-box phone clearfix">
          <h3><i class="fa-phone"></i>Phone:</h3>
          <span>1-604-557-9492</span><br>

        </div>
        <div class="contact-info-box email clearfix">
          <h3><i class="fa-pencil"></i>email:</h3>
          <span>info@bhavsindiancuisine.com</span>
        </div>

        <!--Timmings-->
        <div class="contact-info-box hours clearfix">
          <h3><i class="fa-clock-o"></i>Hours:</h3>
          <span><strong>Sunday - Thursday:</strong> 10:30am - 9pm<br><strong>Friday & Saturday:</strong> 10:30am - 10pm</span>
        </div>

        <!--address-->
        <div class="contact-info-box clearfix">
          <h3><i class=" fa-map-marker"></i>Address:</h3>
          <span>2591 Cedar Park Pl<br>Abbotsford, BC V2T 3S4</span>
        </div>
        <div class="address">
          <div class="col-sm-12 col-md-12">



            <!-- Google Map-->
            <div id="map"></div>

          </div>


          <script>
                                 var uluru = { lat: 49.054060, lng: -122.336279 };
								function initMap() {

                                    var uluru = { lat: 49.054060, lng: -122.336279 };
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 17,
                                        center: uluru
                                    });
                                    var marker = new google.maps.Marker({
                                        position: uluru,
                                        map: map
                                    });


								}


          </script>

          <!-- Replace the value of the key parameter with your own API key. -->
          <script async defer
                  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmALoacasDAIZ7WYg2Cw0tP_0PBVZHbBI&callback=initMap">
          </script>
        </div>

      </div>

      <!--
          <ul class="social-link">
              <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>

          </ul>
          -->
      <!--       -------------------Send Message Box------------------- -->
      <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
        <h2>For Inquiries</h2>
        <div class="form">

          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="http://formspree.io/amit.trehan44@gmail.com" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" required="required" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" required="required" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control input-text text-area" name="message" required="required" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
          </form>
        </div>
      </div>

    </div>


  </section>

</div>
