<div class="massage container">  

    <div class="panel panel-default ">
      <!-- Default panel contents -->
      <div class="panel-heading  text-center">Body Massage</div>
      <div class="panel-body  text-center">
        <p></p>
      </div>
    
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
           
            <th scope="col"  class="col-md-2">Treatment Name</th>
            <th scope="col" class="col-md-2">Treatment Time</th>
            <th scope="col" class="col-md-2">Price($)</th>
            <th scope="col">Description</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Hot Stone Massage</td>
            <td>60 Mins</td>
            <td>100</td>
            <td>Hot stone massage is a type of massage therapy that involves the use of smooth, heated stones. The massage therapist places the hot stones on specific points on your body and may also hold the stones while giving the massage. The localized heat and weight of the stones warm and relax muscles, allowing the massage therapist to apply deeper pressure to those areas without causing discomfort.</td>
          </tr>
          <tr>
              <td>Relaxation Massage</td>
              <td>60/45/30 Mins</td>
              <td>45/60/75</td>
              <td>Relaxation massage maniuplates blood flow, increases muscle tone, detoxifies acid waste in the tissues and muscles, relaxes the nerves and assists in oxygenating the skin.</td>
            </tr>
          <tr>
              <td>Back, Neck & Shoulder Massage</td>
              <td>30 Mins</td>
              <td>45</td>
              <td>This massage brings renewed mobility to the neck and shoulder region, alleviates stiff neck and/or shoulder muscels, promotes flexibility, improves blood circulation and overall feeling of well being. Neck and Shoulder massage relieves pain and stress and relaxes and soothes the mind and body.</td>
          </tr>
          <tr>
              <td>Stress Relief Scalp Massage</td>
              <td>15 Mins</td>
              <td>20</td>
              <td>Stress relief scalp massage helps to reduce stress, makes you feel relaxed and calms your mind, reviatlize the brain and the body, improves concentration and blodd circulation in different parts of your head, gives relief from headache and strengthens hair roots.</td>
          </tr>
          <tr>
              <td>Foot Massage</td>
              <td>15 Mins</td>
              <td>20</td>
              <td>Massaging the foot can alleviate an anxiety and bring about a dep state of relaxation, one important point that is situated on both feet is the solar plexus reflex. The solar plexus is sort of little warehouse where all your stress is stored. When the solar plexus point is pressed on, stress is released and the body is relaxed.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>