<div class="hair container">  

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading  text-center">Ladies Hair</div>
        <div class="panel-body">
         
        </div>
      
        
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Service</th>
              <th scope="col">Price($)</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              
              <td>Bangs Cut</td>
              <td>8 & Up</td>
              
            </tr>
            <tr>
            
              <td>Straight Cut</td>
              <td>15 & Up</td>
             
            </tr>
            <tr>
             
              <td>Hair Cut</td>
              <td>20 & Up</td>
             
            </tr>
            <tr>
             
              <td>Shampoo, Cut, Blowdryer & Style</td>
              <td>35 & Up</td>
             
            </tr>
            <tr>
            
              <td>Hair Style (Flat Iron or Curls)</td>
              <td>35 & Up</td>
             
            </tr>
            <tr>
             
              <td>Permanent Hair Straightening</td>
              <td>175 & Up</td>
            
            </tr>
            <tr>
             
              <td>Keratin Complex</td>
              <td>175 & Up</td>
              
            </tr>
            <tr>
            
              <td>Sculp Head Massage (20 min)</td>
              <td>30</td>
             
            </tr>
            <tr>
             
              <td>Sculp Dandruff Treatment</td>
              <td>35</td>
             
            </tr>
            <tr>
            
              <td>Deep Conditioning (Hair Spa)</td>
              <td>35</td>
             
            </tr>
           
          
          </tbody>
        </table>
        
    
      </div>

      <!-- *******************Hair Ends**************** -->
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading  text-center">Colour</div>
        <div class="panel-body">
         
        </div>
      
        
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Service</th>
              <th scope="col">Price($)</th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr>
             
              <td>Root Touch Up</td>
              <td>25 & Up</td>
            
            </tr>
            <tr>
             
              <td>Full Head</td>
              <td>70 & Up</td>
              
            </tr>
            <tr>
            
              <td>Toner</td>
              <td>40 & Up</td>
             
            </tr>
           
            <tr>
             
              <td>Foils Full Head</td>
              <td>80 & Up</td>
            
            </tr>
            <tr>
             
              <td>Foils Half Head</td>
              <td>50 & Up</td>
              
            </tr>
            <tr>
            
              <td>Cap Highlights</td>
              <td>50 & Up</td>
             
            </tr>
            <tr>
              <td>Partial Highlights</td>
              <td>80 & Up</td>
             
            </tr>
            <tr>
             
              <td>Ombre Colour</td>
              <td>80 & Up</td>
            
            </tr>
            <tr>
             
              <td>Colour Correction</td>
              <td>100 & Up</td>
              
            </tr>
            
          
          </tbody>
        </table>
        
    
      </div>
<!-- 
      *****************Colour Ends**************** -->

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading  text-center">Perms</div>
        <div class="panel-body">
         
        </div>
      
        
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              
              <th scope="col">Service</th>
              <th scope="col">Price($)</th>
              
            </tr>
          </thead>
          <tbody>
           
            <tr>
            
              <td>Perms</td>
              <td>125 & Up</td>
             
            </tr>
       
          
          </tbody>
        </table>
        
    
      </div>
      
</div>
