<footer>
  <div class="page-footer col-sm-12 ">
    <div class="col-sm-4 fb-footer">
      <h1>Facebook</h1>
      <h2>Find Us on Facebook</h2>
      <div class="fb-page " data-href="https://www.facebook.com/Saddhers-Salon-299049936892037/" data-tabs="timeline" data-width="180" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Saddhers-Salon-299049936892037/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Saddhers-Salon-299049936892037/">Saddhers Salon</a></blockquote></div>
    </div>


    <div class="col-sm-4">
      &copy; Saddhers
      <div class="content">
        <a title="Privacy Policy" href="http://stallionworks.ca/">Powered By:</a>
        <a class="StallionWorks" title="Terms of Services" href="http://stallionworks.ca/">Stallion Works</a>
      </div>
    </div>


    <div class="contact-footer col-sm-4">
      <h1>Contact Us</h1>
      <h2>#102-30519 Blueridge Drive</h2>
      <h2>Abbotsford, BC V2T 0B1</h2>
      <h2></h2>
      <h2>604-746-4786</h2>
    </div>

  </div>

</footer>
